<!-- Render the flash messages (if any) -->
<% unless flash[:error].nil? %>
    <h2>The following error(s) occured</h2>
    <% flash[:error].each do |error|%>
        <div>
            <strong><%= error %></strong>
        </div>
    <% end %>
<% end %>
<!-- End Rendering Flash Messages -->

<div>
    <h1>Track Pet</h1>
    <p>In order to track your pet. Fill out the information below.</p>

    <div>
        <%= form_for @pet do |f| %>
            <div>
                <%= f.label :name %>
                <%= f.text_field :name %>
            </div>

            <div>
                <%= f.label :emoji %>
                <%= f.text_field :emoji %>
            </div>

            <div>
                <%= f.label :pet_type, "Type" %>
                <%= f.select(:pet_type, Pet::PET_TYPES.collect {|t| [t.humanize, t]}, {include_blank: true})%>

            <div>
                <%= f.submit "Track!" %>
            </div>
        <% end %>
    </div>
</div>